!!!
%html
  %head
    %title
    %link{:href => "sytle.css", :rel => "stylesheet"}/
  %body
    #wrap
      .table.full
        %ul
          %li
            %a{:href => "/"} Home
            %a{:href => "/registro"} Registro
            %a{:href => "/catalogo"} Catalago
    .Contenedor
    %footer
