%h2 Formulario de registro
=form_for @producto, :url => create_reg_path, do |r|
  =r.labelbrtext 'Nombre', :nombre
  %br
  %br
  =r.laberbrtext 'Descripción', :descripcion
  %br
  %br
  =r.labelbrtag "categoria",:categoria
  %br
  %br
  %p Marca
  =r.collection_select(:marca_id, @marca,:id,nombre,{:prompt =>"Selecciona una"})
  %br
  %br
  =f.submit 'Registrar'

